$fondo:#BF9270;
$letra: #FFEDDB;

$boxmodel:  (
    margin:5px,
    padding: 50px,
);

@mixin ancho ($ancho) {
    width: $ancho
}

.container-fluid    {
    background-color: $fondo;
    color: $letra;
    font-family:'Source Sans Pro';

}


// INDEX 

/* HEADER INDEX */
.encabezado     {
    
    background-image: url(../Imagenes/readme.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
    

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    img     {
        @include ancho (30%);
        margin: map-get($boxmodel, margin);
        border-radius: 20px; 
    }

    .navegador     {
        display: flex; 
        flex-direction: row;
        justify-content: flex-end; 
        ul  {
            display: flex;
            flex-direction:row;
            justify-content:flex-end;
          li    {
                text-decoration:none;
                margin: map-get($boxmodel, margin);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end; 
          }
    
        }
    }
} 

/* Seccion 1 */

h1  {
    text-align: center;
    padding: map-get($boxmodel, padding);
    font-family: 'Source Sans Pro';
    color: $letra;
    
    
}
.indexx     {
    text-decoration:underline;
}

.seccion1                   {
    img     {
        border-radius: 15px;

    }
    p               {
        font-size: 20px;
        text-align: justify;
    }
}

/* Seccion 2 */
h2  {
    text-align: center;
    margin: 30px; 
    
} 

.imgg   {
    @include ancho (250px);
    margin: 15px;
} 

/* footer */

h3  {
    text-align: center;
    padding: map-get($boxmodel, padding);
}

h4              {
    
    padding: map-get($boxmodel, padding);
}

.ig  {
        @include ancho (150px);
        position: relative;
        animation-name: move;
        animation-duration: 3s;
        animation-iteration-count: infinite;
}
@keyframes move     {
    0%  {
        left: 0px;
        top:0px;
    }
    25%     {
        left: 500px;
        top: 0px;
    }
}




/* CONTACTO HTML */

.formulario     {
    width: 50%;
   .botoncontacto   {
       margin-top: 10px;
   }
   
  
    

}



/* NOSOTROSHTML */

/* HISTORIA  */

.fotonosotros   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
 }
 
 .fotonosotros--uno  {
     @extend .fotonosotros;
     img     {
     width: 35%;
     margin: 10px;
     border-radius: 15px;
     
     }
     p   {
         text-align: justify;
        
     }
 }
 
 .fotonosotros--dos  {
     @extend .fotonosotros;
     img     {
         width: 35%;
         margin: 10px;
         border-radius: 15px;
     }
     p   {
        text-align: justify;
       
    }
     
 }



// TIENDA HTML

.tienda     {
    display: flex;
    flex-direction: row;
    justify-content: center;
     img     {
        width: 25%;
        margin: 25px;
    }
 }

