$fondo:#BF9270;
$letra: #FFEDDB;

$boxmodel:  (
    margin:5px,
    padding: 50px,
);

@mixin ancho ($ancho) {
    width: $ancho
}

.container-fluid    {
    background-color: $fondo;
    color: $letra;
    font-family:'Source Sans Pro';

}


// INDEX

/* HEADER INDEX */
.encabezado     {
    
    background-image: url(../Imagenes/readme.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
   
    

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    img     {
        @include ancho (30%);
        margin: map-get($boxmodel, margin);
        border-radius: 20px; 
    }

    .navegador     {
        display: flex; 
        flex-direction: row;
        justify-content: flex-end; 
        ul  {
            display: flex;
            flex-direction:row;
            justify-content:flex-end;
          li    {
                text-decoration:none;
                margin: map-get($boxmodel, margin);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end; 
          }
    
        }
    }
} 

/* Seccion 1 */

h1  {
    text-align: center;
    padding: map-get($boxmodel, padding);
    font-family: 'Source Sans Pro';
    color: $letra;
    
    
}


.seccion1                   {
    img     {
        border-radius: 15px;

    }
    p               {
        font-size: 20px;
        text-align: justify;
    }
}

/* Seccion 2 */
h2  {
    text-align: center;
    margin: 30px; 
} 

.imgg  {
    @include ancho (250px);
    margin: 15px;
    border-radius: 20px;
} 


/* FOOTER */

footer {
    background-image: url(../Imagenes/FOOTER.jpg);
    background-size: cover;  
    background-repeat:no-repeat;
    margin-top: 30px;
    display: flex;
    
 .redess     {
    margin-left: 26%;
} 
    .redes  {
       display: flex;
     }

    .listaredes{
        margin-right: 10px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}



h4              {
    
    padding: map-get($boxmodel, padding);
}


.ig     {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    
    
}

    

/* CONTACTO HTML */

h3  {
    margin-top: 50px;
    margin-left: 30px;
}
.formulario     {
    width: 50%;
    margin-left: 20px;
    

   .botoncontacto   {
       margin-top: 10px;
   }
 

}

.maps    {
    margin-bottom: 30px;
}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redes  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* NOSOTROSHTML */

/* HISTORIA  */

.fotonosotros   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
 }
 
 .fotonosotros--uno  {
     @extend .fotonosotros;
     img     {
     width: 35%;
     
     margin: 10px;
     border-radius: 15px;
     
     }
     p   {
         text-align: justify;
        
     }
 }
 
 .fotonosotros--dos  {
     @extend .fotonosotros;
     img     {
         width: 35%;
         
         margin: 10px;
         border-radius: 15px;
         margin-bottom: 30px;
     }
     p   {
        text-align: justify;
       
    }
     
 }



// TIENDA HTML

.tienda     {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
    
    img                     {
        border-radius: 40px;
        @include ancho (250px);
        margin: 15px;
        border-radius: 40px;
        flex-wrap: nowrap;
       
    }

     p   {
        text-align: center;
        
       
     }
 
 }

//  MENU

.menu2  {
    margin-bottom: 30px;
    margin-top: 10px;
}

.wapp   {
    
    position: fixed;
    bottom: 10px;
    right: 10px;

img    {
    width: 7vh;
    height: 7vh;
}
}

